@mixin flex-common {
    &.direction-row {
        flex-direction: row;
   }
    &.direction-column {
        flex-direction: column;
    }
    &.justify-content-center {
        justify-content: center;
    }
    &.justify-content-spacebetween {
        justify-content: space-between;
    }
    &.justify-content-end {
      justify-content: end;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.nowrap {
        flex-wrap: nowrap;
    }
}
.flex {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    @include flex-common
}

